:root{
  --primary-color: #1F2421;
  --secondary-color: #216869;
  --tertiary-color: #49A078;
  --transitionary-color: #9CC5A1;
  --accent-color: #DCE1DE;
}

#project_wrapper > div {
  border: 1px solid red;
}

.navbar-link {
  text-decoration: none;
  color: var(--accent-color);
}

.arizonia-regular {
  font-family: "Arizonia", cursive;
  font-weight: 400;
  font-style: normal;
}
.bonheur-royale-regular {
  font-family: "Bonheur Royale", cursive;
  font-weight: 400;
  font-style: normal;
}
.jim-nightshade-regular {
  font-family: "Jim Nightshade", cursive;
  font-weight: 400;
  font-style: normal;
}
.megrim-regular {
  font-family: "Megrim", system-ui;
  font-weight: 400;
  font-style: normal;
}


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
